body,p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	-webkit-tap-highlight-color:transparent;
	text-decoration: none;
	color:black;
}
img{
	vertical-align: top;
	border: none;
}


body{
	background-color:#cce3d1;
}
.db{
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
.space19{
	width:100%;
	height:0.296875rem;
	background-color:#b8d9be;
}
.space14{
	width:100%;
	height:0.21875rem;
	background-color:#b8d9be;
}
.border_b{
	border-bottom:0.015625rem solid #c0c8ac;
}
.border_r{
	border-right:0.015625rem solid #c0c8ac;
}

html{
	height:100%;
	overflow: hidden;
}
body{
	height:100%;
	overflow: auto;
}


/*header*/
.head{
	width:100%;
	height:1.171875rem;
	background-color:#fabc09;
	position:fixed;
	top:0;
	left:0;
	z-index: 20;
}
.head_index{
	width:1.21875rem;
	height:100%;
	background:url(../img/bi_head_index.jpg) no-repeat;
	background-size:100%;
}
.search_box{
	width:7.515625rem;
	height:0.78125rem;
	line-height:0.78125rem;
	background-color:#d5dba9;
	margin-top:0.21875rem;
	border-radius: 0.09375rem;
}
.search_box p:before{
	content:"";
	float: left;
	width:0.34375rem;
	height:0.390625rem;
	background:url(../img/bc_head_ico.jpg) no-repeat;
	background-size:100%;
	margin:0.15625rem 0.21875rem 0 0.5rem;
}
.search_box p{
	color:#a5a5a8;
	font-size:0.3125rem;
}
.shop_cart{
	width:1.265625rem;
	height:100%;
	background:url(../img/bi_head_cart.jpg) no-repeat;
	background-size:100%;
}
/*添加及返回顶部*/
.add_btn{
	width:1.0625rem;
	height:1.0625rem;
	background:url(../img/add_btn.png) no-repeat;
	background-size:100%;
	position: fixed;
	bottom:0.65625rem;
	left:0.25rem;
	border-radius: 0.53125rem;
	z-index: 5;
}
.gotop_btn{
	width:1.0625rem;
	height:1.0625rem;
	background:url(../img/gotop_btn.png) no-repeat;
	background-size:100%;
	position: fixed;
	bottom:0.65625rem;
	right:0.375rem;
	border-radius: 0.53125rem;
	z-index: 5;
}



/*主要内容*/
.wrap{
	width:100%;
	margin-top:1.171875rem;
}

.scroll{
	width:100%;
	height:4.25rem;
}
.scroll img{
	width:100%;
	height:100%;
}
.mainroom{
	width:100%;
	height:2.65625rem;
}
.mainroom img{
	width:100%;
	height:100%;
}
.fix_floor{
	width:100%;
	height:3.8125rem;
	padding:0.296875rem 0 0.03125rem;
	border-top:0.03125rem solid #bbdac0;
	border-bottom:0.03125rem solid #bbdac0;
}
.floor1{
	width:2rem;
	height:1.90625rem;
	text-align: center;
}
.floor1 a{
	display: block;
}
.floor1 img{
	width:1.0625rem;
	height:1.078125rem;
}
.floor1 p{
	height:0.6875rem;
	line-height:0.6875rem;
	font-size:0.3125rem;
	color:#66666f;
}
.headline{
	width:100%;
	height:0.8125rem;
	padding-top:0.234375rem;
	padding-bottom:0.3125rem;
}
.headline_title{
	width:2.515625rem;
	height:100%;
	background:url(../img/bi_headline.jpg) no-repeat;
	background-size:100%;
}
.headline_text{
	height:100%;
	color:#1c181b;
}
.headline_detail:before{
	content: "";
	float: left;
	width:0.125rem;
	height:0.125rem;
	margin:0.1875rem 0.16625rem 0;
	background:url(../img/bi_headline_dot.jpg) no-repeat;
	background-size:100%;
}
.headline_detail{
	height:0.40625rem;
	line-height:0.40625rem;
	font-size:0.3125rem;
}
.headline_text .specolor{
	color:#928e91;
}
.hotview{
	width:100%;
	height:3.875rem;
}
.hotview_main{
	width:4.984375rem;
	height:100%;
}
.hotview img{
	width:100%;
	height:100%;
}
.hotview_sub{
	width:4.984375rem;
	height:100%;
}
.hotview_sub1{
	width:100%;
	height:1.921875rem;
}
.hotview_sub1 img{
	width:100%;
	height:1.921875rem;
}
.hotview_sub2{
	width:100%;
	height:1.9375rem;
}
.hotview_sub2 img{
	width:100%;
	height:1.9375rem;
}
.hotview_mid{
	width:100%;
	height:4.015625rem;
}
.hotview_mid li{
	width:2.484375rem;
	height:100%;
}
.hotview_mid img{
	width:100%;
	height:100%;
}
.hotview_bot{
	width:100%;
	height:4.0rem;
}
.hotview_bot li{
	width:2.484375rem;
	height:100%;
}
.hotview_bot img{
	width:100%;
	height:100%;
}
/*掌上抢*/
.app_shop{
	width:100%;
	height:4.296875rem;
}
.app_shop_title{
	width:100%;
	height:0.84375rem;
}
.appshop_ico{
	width:2.3125rem;
	height:100%;
	background:url(../img/app_shop_ico.jpg) no-repeat;
	background-size:100%;
}
.time{
	width:2.71875rem;
	height:100%;
}
.time_text{
	width:1.0rem;
	height:0.546875rem;
	padding-top:0.296875rem;
	font-size:0.28125rem;
	color:#f85150;
}
.time_pic{
	width:1.71875rem;
	height:100%;
	background:url(../img/app_shop_time.jpg) no-repeat 0 0.234375rem;
	background-size:100% 0.375rem;
}
.appshop_more{
	width:2.125rem;
	height:0.453125rem;
	margin-top:0.171875rem;
}
.appshop_more_text{
	width:1.625rem;
	height:100%;
	line-height:0.453125rem;
	font-size:0.28125rem;
	color:#476c23;
	background-color:#ffc001;
	text-align: center;
	border-radius: 0.15625rem;
}
.appshop_more_ico{
	width:0.5rem;
	height:100%;
	background:url(../img/appshop_moreico.jpg) no-repeat;
	background-size:100%;
}
.app_shop_cont{
	width:9.84375rem;
	height:3.171875rem;
	padding-left:0.15625rem;
}
.app_shop_cont li{
	width:2.96875rem;
	height:100%;
	margin-left:0.109375rem;
	position: relative;
}
.appshop_pic,.appshop_pic4{
	width:2.90625rem;
	height:2.1875rem;
	display: block;
	border:0.03125rem solid #abc8a9;
	border-bottom:0.03125rem solid #d9d9d9;
}
.appshop_pic img,.appshop_pic4 img{
	width:100%;
	height:100%;
}
.appshop_value{
	width:2.90625rem;
	height:0.890625rem;
	border:0.03125rem solid rgba(255,255,255,0.1);
	border-top:none;
	background-color: #dddddd;
}
.appshop_value_now{
	width:100%;
	height:0.4375rem;
	line-height:0.4375rem;
	font-size:0.375rem;
	color:#dd0000;
	text-indent: 0.3125rem;
}
.appshop_value_bef{
	width:100%;
	height:0.40625rem;
	line-height:0.40625rem;
	font-size:0.28125rem;
	color:#323232;
	text-decoration: line-through;
	text-indent: 0.25rem;
}
.appshop_discount{
	width:0.9375rem;
	height:1.0rem;
	background:url(../img/appshop_discount_ico.png) no-repeat;
	background-size:100%;
	text-align: center;
	line-height:0.625rem;
	font-size:0.3125rem;
	color:white;
	position: absolute;
	bottom:0;
	right:0.046875rem;
}
.app_shop_cont .appshop_lastone{
	width:0.5rem;
}
.app_shop_cont .appshop_pic4,.app_shop_cont .appshop_value4{
	width:0.46875rem;
	border-right:none;
	overflow: hidden;
}
.ads{
	width:100%;
	height:4rem;
}
.ads li{
	width:4.96875rem;
	height:100%;
}
.ads img{
	width:100%;
	height:100%;
}
/*大聚惠～精编*/
.bigcheap_title{
	width:100%;
	height:0.796875rem;
	line-height:0.796875rem;
	font-size:0.375rem;
	color:#fe2d4b;
	text-align: center;
	background-color:white;
	
}
.bigcheap_cont{
	width:100%;
	height:5.34375rem;
	border-top:0.03125rem solid rgba(255,255,255,0.1);
}
.bigcheap_cont img{
	width:100%;
	height:100%;
}
.bigcheap_main{
	width:4.96875rem;
	height:100%;
	border-right:0.03125rem solid rgba(255,255,255,0.1);
}
.bigcheap_right{
	width:5rem;
	height:100%;
}
.bigcheap_rtop,.bigcheap_rbot a{
	border-right:0.03125rem solid rgba(255,255,255,0.1);
	border-bottom:0.03125rem solid rgba(255,255,255,0.1);
}
.bigcheap_rtop{
	width:100%;
	height:1.90625rem;
}
.bigcheap_rbot{
	width:100%;
	height:3.375rem;
}
.bigcheap_rbot a{
	width:2.46875rem;
	height:100%;
}
.ad_everyday{
	width:100%;
	height:2.671875rem;
}
.ad_everyday img{
	width:100%;
	height:100%;
}
/*特色好货*/
.goods_title{
	width:100%;
	height:0.78125rem;
	line-height:0.78125rem;
	font-size:0.375rem;
	background-color:white;
	color:#42bb0a;
	text-align: center;
}
.goods_top img,.goods_level2 img,.goods_level3 img,.goods_level4 img,.goods_level5 img{
	width:100%;
	height:100%;
}
.goods_top{
	width:100%;
	height:3.890625rem;
}
.goods_topl{
	width:4.96875rem;
	height:3.859375rem;
}
.goods_rtop{
	width:4.96875rem;
	height:3.859375rem;
}
.goods_rtop .goods_rtop_pic1{
	width:4.96875rem;
	height:1.90625rem;
}
.goods_rtop .goods_rtop_pic2{
	width:4.96875rem;
	height:1.921875rem;
}

.goods_level2{
	width:100%;
	height:1.953125rem;
}
.goods_level2 a{
	width:4.96875rem;
	height:1.921875rem;
}
.goods_level3{
	width:100%;
	height:1.9375rem;
}
.goods_level3 a{
	width:4.96875rem;
	height:1.90625rem;
}
.goods_level4{
	width:100%;
	height:1.953125rem;
}
.goods_level4 a{
	width:4.96875rem;
	height:1.921875rem;
}
.goods_topl,.goods_rtop a,.goods_level2 a,.goods_level3 a,.goods_level4 a{
	border-right:0.03125rem solid rgba(255,255,255,0.1);
	border-top:0.03125rem solid rgba(255,255,255,0.1);
}
.goods_level5{
	width:100%;
	height:2.6875rem;
}
/*热门市场*/
.hotmarket_title{
	width:100%;
	height:0.78125rem;
	line-height:0.78125rem;
	font-size:0.375rem;
	background-color:white;
	color:#2cd3e1;
	text-align: center;
}
.hotmarket_level1 img,.hotmarket_level2 img,.hotmarket_level3 img,.hotmarket_level4 img,.hotmarket_level5 img{
	width:100%;
	height:100%;
}
.hotmarket_level1 li,.hotmarket_level2 li,.hotmarket_level3 li,.hotmarket_level4 li,.hotmarket_level5 li{
	border-right:0.03125rem solid rgba(255,255,255,0.1);
	border-top:0.03125rem solid rgba(255,255,255,0.1);
}
.hotmarket_level1{
	width:100%;
	height:4.015625rem;
}
.hotmarket_level1 li{
	width:4.96875rem;
	height:3.984375rem;
}
.hotmarket_level2,.hotmarket_level3,.hotmarket_level4{
	width:100%;
	height:3.46875rem;
}
.hotmarket_level2 li,.hotmarket_level3 li,.hotmarket_level4 li{
	width:3.28125rem;
	height:3.4375rem;
}
.hotmarket_level5{
	width:100%;
	height:3.234375rem;
	border-top:0.03125rem solid rgba(255,255,255,0.1);
}
.hotmarket_level5 li{
	width:3.296875rem;
	height:3.203125rem;
}
.hotmarket_level5 .hotmarket_level5_pic1{
	width:3.3125rem;
}
/*品牌荟萃*/
.brand_title{
	width:100%;
	height:0.78125rem;
	line-height:0.78125rem;
	font-size:0.375rem;
	background-color:white;
	color:#5f3ffa;
	text-align: center;
}
.brand_cont{
	width:100%;
	height:3.890625rem;
}
.brand_cont li{
	height:3.859375rem;
	margin:0.03125rem 0.03125rem 0 0;
}
.brand_cont .brand_cont_pic1{
	width:4.96875rem;
}
.brand_cont .brand_cont_pic2{
	width:2.46875rem;
}
.brand_cont img{
	width:100%;
	height:100%;
}
/*苏宁金融*/
.bank_title{
	width:100%;
	height:0.78125rem;
	line-height:0.78125rem;
	font-size:0.375rem;
	background-color:white;
	color:#dbe9fe;
	text-align: center;
}
.bank_cont{
	width:100%;
	height:3.890625rem;
}
.bank_cont .bank_pic1{
	width:4.96875rem;
	height:3.859375rem;
	margin:0.03125rem 0.03125rem 0 0;
}
.bank_cont img{
	width:100%;
	height:100%;
}
.bank_right{
	width:5.0rem;
	height:3.890625rem;
}
.bank_pic2{
	width:4.96875rem;
	height:1.921875rem;
	margin:0.03125rem 0.03125rem 0 0;
}
.bank_pic3{
	width:4.96875rem;
	height:1.90625rem;
	margin:0.03125rem 0.03125rem 0 0;
}
/*好店推荐*/
.goodshop_title{
	width:100%;
	height:0.78125rem;
	line-height:0.78125rem;
	font-size:0.375rem;
	background-color:white;
	color:#873400;
	text-align: center;
}
.goodshop_cont{
	width:100%;
	height:5.53125rem;
	border-top:0.03125rem solid #aad2b1;
}
.goodshop_cont img{
	width:100%;
	height:100%;
}
.goodshop_cont ul{
	width:9.78125rem;
	height:4.75rem;
	padding-left:0.21875rem;
}
.goodshop_cont li{
	width:4.890625rem;
	height:100%;
}
.gs_left_title{
	width:100%;
	height:1.703125rem;
}
.gs_title_ico{
	width:1.0625rem;
	height:1.0625rem;
	margin-top:0.3125rem;
}
.gs_title_text{
	width:3.828125rem;
	height:1.0625rem;
	margin-top:0.28125rem;
	line-height:0.53125rem;
	text-indent: 0.25rem;
}
.gs_title_text1{
	width:3.828125rem;
	font-size:0.375rem;
	color:#1f1b1d;
}
.gs_title_text2{
	width:3.828125rem;
	font-size:0.3125rem;
	color:#969495;
}
.gs_pic{
	width:100%;
	height:3.046875rem;
}
.gs_pic1{
	width:3.0rem;
	height:2.984375rem;
	border:0.03125rem solid #b2ccb0;
	margin-right:0.03125rem;
}
.gs_picright{
	width:1.5rem;
	height:3.046875rem;
}
.gs_picright a{
	width:1.4375rem;
	height:1.4375rem;
	border:0.03125rem solid #b2ccb0;
}
.gs_pic2{
	margin-bottom:0.046875rem;
}
.gs_turn{
	height:0.46875rem;
	width:5.359375rem;
	padding-left:4.640625rem;
	padding-top:0.3125rem;
}
.gs_turn a{
	width:0.1875rem;
	height:0.1875rem;
	margin:0 0.03125rem;
}



/*猜你喜欢*/
.guess_title{
	width:100%;
	height:0.78125rem;
	padding-top:0.390625rem;
}
.guess_title_line{
	width:3.296875rem;
	height:0.03125rem;
	background-color:#aec8ab;
	margin:0.28125rem 0.25rem;
}
.guess_title_ico,.guess_title_ico img{
	width:0.546875rem;
	height:0.53125rem;
	border-radius:0.265625rem;
}
.guess_title_text{
	width:1.8125rem;
	height:0.53125rem;
	line-height:0.53125rem;
	font-size:0.4375rem;
	color:#144400;
	text-indent: 0.046875rem;
}
.guess_level1{
	width:9.78125rem;
	height:6.5rem;
	padding:0 0 0.21875rem 0.21875rem;
}
.guess_level1 li{
	width:4.671875rem;
	height:6.5rem;
	padding-right:0.21875rem;
}
.guess_pic img{
	width:100%;
	height:100%;
}
.guess_pic{
	width:4.609375rem;
	height:4.609375rem;
	border:0.03125rem solid #d0e5d5;
	border-bottom:none;
}
.guess_text{
	width:4.53125rem;
	height:1.859375rem;
	padding-left: 0.125rem;
	background-color: #cce3d1;
}
.guess_detail{
	width:100%;
	height:0.96875rem;
	line-height: 0.484375rem;
	padding-top:0.09375rem;
	font-size:0.3125rem;
	color:#292728;
}
.guess_value{
	width:100%;
	height:0.53125rem;
	line-height:0.53125rem;
	font-size:0.40625rem;
	color:#e70000;
}



.download{
	width:9.1875rem;
	height:1.515625rem;
	padding:0.5rem 0 0 0.8125rem;
	background-color:#fe6155;
}
.download_ico{
	width:1.0625rem;
	height:1.0625rem;
	background:url(../img/download_ico.jpg) no-repeat;
	background-size:100%;
}
.download_text{
	width:4.875rem;
	height:1.0625rem;
	text-indent: 0.34375rem;
}
.download_text1{
	height:0.5625rem;
	line-height:0.5625rem;
	font-size:0.375rem;
	color:white;
}
.download_text2{
	height:0.34375rem;
	line-height:0.34375rem;
	font-size:0.34375rem;
	color:#fee4e2;
}
.download_btn{
	width:3.25rem;
	height:1.0625rem;
	background:url(../img/download_btn.jpg) no-repeat;
	background-size:100%;
}
.foot{
	width:100%;
	height:2.875rem;
	background-color:#cbe3d1;	
}
.foot_main{
	width:100%;
	height:0.3125rem;
	line-height:0.3125rem;
	font-size:0.3125rem;
	color:#2f3130;
	margin-top:0.4375rem;
	margin-bottom:0.734375rem;
}
.foot_main li{
	width:1.96875rem;
	height:0.3125rem;
	border-right:0.03125rem solid #dddddd;
	text-align: center;
}
.foot_main .border_no{
	border:none;
}
.foot_copyright{
	width:100%;
	height:0.3125rem;
	line-height:0.3125rem;
	font-size:0.3125rem;
	color:#a4afa7;
	text-align: center;
}




